@import './reset';
@import './base';
@import './container';
@import './btn';
@import './demo';
@import './navbar';
@import './wrapper';
@import './link';
@import './title';

@media screen and (max-width: 1280px) {
    html {
        font-size: 16px
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 15px
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 14px
    }
}

body {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center
}

input {
    padding: 16px 26px;
    margin-bottom: 30px;
    border-radius: 20px
}

button {
    cursor: pointer;
}

textarea {
    padding: 30px 27px;
    border-radius: 14px
}

input, textarea {
    width: 100%
}

.section, section {
    position: relative;
    padding: 40px 0;

    @media screen and (max-width: 1280px) {
        padding: 20px 0
    }
}
